// New Color Scheme
$bg: rgb(20, 20, 20);
$bg-light: rgb(30, 30, 30);
$bg-lighter: rgb(40, 40, 40);

$text: hsl(213, 0%, 90%);
$text-dark: hsl(213, 0%, 80%);
$text-darker: hsl(213, 0%, 70%);

$sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
"Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
"Helvetica Neue", sans-serif;
$mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
$standard-border-radius: 10px;
$serif-font: -times-new-roman;

// Page Backgound
.bg-600Warm {
    background-color: #3a1c1c;
}

.bg-ROW {
    background-color: #0d3238;
}

.bg-BB {
    background-color: #c36123;
}

.bg-Aurora {
    background-color: #10443f;
}

.bg-HS {
    background-color: #424242;
}

// Legacy
$light-bg: #535353;
