@import "_vars.scss";

// Import pages
@import "pages/contact.scss";

// Import page layouts
@import "layouts/page.scss";
@import "layouts/footer.scss";
@import "layouts/header.scss";
@import "layouts/project-grid";

// Import page components
@import "components/own-gallery.scss";
@import "components/row.scss";
@import "components/text.scss";
@import "components/media.scss";
@import "components/twocol.scss";
@import "components/logo.scss";
@import "components/table.scss";