@import "_vars.scss";

// Import page layouts
@import "layouts/page.scss";
@import "layouts/footer.scss";
@import "layouts/header.scss";

// Import page components
@import "components/link-buttons.scss";
@import "components/own-gallery.scss";
@import "components/row.scss";
@import "components/text.scss";
@import "components/media.scss";
@import "components/twocol.scss";
@import "components/logo.scss";
@import "components/table.scss";
@import "components/poster-grid.scss";
@import "components/spacers.scss";

* {
  outline: 1px solid rgba(255, 0, 0, 0.2);
}
