@import "_vars.scss";

header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 9999;
  top: 30px;

  .header-container {
    //backdrop-filter: blur(40px);
    //-webkit-backdrop-filter: blur(40px);
    //background-color: rgba($bg-light, 0.65);
    background-color: $bg-light;
    margin: 0px 10px 0px 10px;
    border-radius: 20px;
    max-width: 1000px;
    border: 1.5px solid rgb(137, 137, 137)
  }

  a {
    color: $text-darker;
    font-weight: 450;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 15px 15px;
    padding: 5px 10px;
    border-radius: $standard-border-radius;
    width: 100px;
  }

  a.active, a.anchor, a:hover {
    color: $text;
    //background-color: rgba(255, 255, 255, 0.1);
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 0;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px auto;
  }


  .top-level {
    margin-bottom: 7.5px;
    margin-top: 10px;

    a {
      font-size: 1.5rem;
    }
  }

  .sub-level {
    margin-top: 7.5px;
    background-color: rgba(white, 0.05);
    border-radius: 0px 0px 20px 20px;

    li {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    a {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    .header-container {

      .top-level {
        a {
          font-size: 1rem;
        }
      }
  
      .sub-level {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    .header-container {
      margin: 0px 5px 0px 5px;

      .top-level {
        a {
          font-size: 1rem;
          margin: 10px 5px;
          padding: 5px 5px;
        }
      }
    }
  }
}

/* https://blog.logrocket.com/create-responsive-mobile-menu-with-css-no-javascript/ */
