.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; // space between posters
    margin-top: 40px;
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; // optional
}
