.link-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.link-buttons a {
  display: inline-block;
  padding: 15px 25px;
  background: rgb(40, 40, 40);
  border-radius: 10px;
  text-decoration: none;
  color: hsl(213, 0%, 80%);
  font-size: 1.5rem;
  font-weight: 700;
  transition: background .2s ease;
}

.link-buttons a:hover {
  background: #565656;
}

@media screen and (max-width: 600px) {
  .link-buttons a {
    font-size: 1.2rem;
    padding: 10px 10px;
  }  
}