//Default Image but can be overriden
.image {

  video, img {
    border-radius: $standard-border-radius;
    width: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
  }

}

.image-bottom-text {
  text-align: center;
  margin: 5px;
  color: #686868;
  font-size: 1rem;
  width: 100%;
}

.logo {
  border-radius: 0px;
}

.image.scale_25 {
  img, video {
    width: 25%;
  }
}

.image.scale_50 {
  img, video {
    width: 50%;
  }
}

.image.scale_75 {
  img, video {
    width: 75%;
  }
}

.image.scale_25 {
  img, video {
    width: 25%;
  }
}

.image.scale_50 {
  img, video {
    width: 50%;
  }
}

.image.scale_75 {
  img, video {
    width: 75%;
  }
}


//Default image settings
video, img {
  border-radius: $standard-border-radius;
  width: 100%;
  object-fit: contain;
  margin: auto;
}
