.own-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  padding: 0px;
  max-width: 1000px;
  margin: 0 auto; /* center on page */
}

.own-gallery .image {
  width: 100%;
  overflow: hidden;
}

.own-gallery .image img,
.own-gallery .image video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.own-gallery .image-bottom-text {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
}