html {
    p {
        margin: 1.2rem 0;
        color: $text-dark;
        font-size: 1.2rem;
    }

    li {
        margin: 0.5rem 0;
        color: $text-dark;
        font-size: 1.2rem;
    }

    h1 {
        font-size: 7rem;
        margin: 0px;
        font-weight:bold; 
        font-family: $sans-font;
        text-align: center;
    }
        
    h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    
    h3 {
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 50px;
    }
    
    h4 {
        font-size: 1.8rem;
        text-align: center;
        margin-top: 60px;
    }
    
    h5 {
        font-size: 1.44rem;
        text-align: right;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h6 {
        font-size: 1.25rem;
        text-align: center;
    }
    
    a {
    color: $text;
    }

    @media screen and (max-width: 1500px) {
        h1 {
          font-size: 5rem;
        }
        h2 {
          font-size: 2rem;
        }
        h3 {
          font-size: 1.5rem;
        }
      
      }
      
    @media screen and (max-width: 600px) {
    h1 {
        font-size: 3.5rem;
    }
    }  @media screen and (max-width: 1500px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    
    }
    
    @media screen and (max-width: 600px) {
    h1 {
        font-size: 3.5rem;
    }
    }

}

.text.left {
    text-align: left;
}

.text.right {
    text-align: right;
}

.text.center {
    text-align: center;
}

pre {
    background: $bg-light;
    border: 1px solid $text-darker;
    border-radius: $standard-border-radius;
    margin: 2rem 0;
    padding: 1.5rem;
}