.twocol-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.twocol-col {
  flex: 1;
  font-size: 1rem;
}

@media (max-width: 800px) {
  .twocol-col p {
    font-size: 0.8rem;
  }
  .twocol-container {
    gap: 1rem;
  }
}

.twocol-container .twocol-col:first-child {
  text-align: right;
}